#container{
	width: 332px;
	position: relative;
	left: 466px;
	top: 20px;
}
h1{
	margin-left: 18px;
}
input{
	position: relative;
	border: 1px solid black;
	border-radius: 5px;
	background-color: light gray;
	width: 80px;
	height: 80px;
	font-size: 100%;
	display: inline-block;
	float: left; /*this got rid of the whitepace between the number buttons */
}
#result{
	width: 94%;
	color: red;
	height: 50px;
	font-size: 28px;
}
